*
{
	margin:0px;
	/*padding:0px;*/
	box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	/*font-size: 24px;*/
}
.conteiner  {
	flex: 1 0 auto;
	display: flex;
	min-height: 70%;

	flex-direction: row;
}
.main {
	min-width: 500px;
	flex-grow: 1;
	order: 2;
}
nav, .sidebar {
	/*flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 210px;*/
	flex: 0 0 210px;
}
nav {
	background-color: #EE82EE;
	order: 1;
}
.sidebar {
	background-color: #87CEEB;
	order: 3;
}
header, footer, nav, .sidebar, .main {
	text-align:center;
	padding: 20px;
}

.header li{
	list-style:none;
	display: -webkit-inline-flex;
    display: inline-flex;
}

.header img{
	width: 200px;
	height: 100px;
}
.header {
	background-color: orange;
	height: 15%;
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer {
	background-color: #00FF7F;
	height: 10%;
	flex: 0 0 auto;
	
}


.card-1, .card-2 {
	padding: 5px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 40%;

}

.box {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-basis: 32%;
	border: 1px solid black;
	/*border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;*/
	border-radius: 20px;
	padding: 5px;
	


}

.button { 
	background-color: #800080;
	font-size: 20px;
	border-radius: 12px;
	border: 2px solid black;
	text-align: center;
	margin-bottom: 5px;
	padding: 5px;
}
 
.box > p {
		flex-grow: 1;

}

.box > * {
	margin:10px;

}
.card-1 img, .card-2 img {
	width: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 1500px;
    border: thick solid Violet;
    box-shadow: 0 0 7px #666
	
}
